main {
  width: 1000px;
  padding: 10px;
  margin: auto;
}

#head {
  width: 200px;
  margin: auto;
}

#login {
  width: 800px;
  padding: 10px;
  position: absolute;
  top: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#login-wrapper {
  border: 1px solid #ccc;
  width: 300px;
  float: left;
  padding: 10px;
  margin-top: 100px;
}

#login-wrapper input {
  margin-top: 16px;
  width: 120px;
  height: 30px;
}

#login-success {
  border: 1px solid #ccc;
  width: 120px;
  float: left;
  padding: 10px;
  margin-top: 100px;
  margin-left: 100px;
}

#login-success ul {
  list-style: none;
}

#login-success li {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 22px;
  padding: 5px;
  color: black;
}

#btn-find {
  border: 1px solid black;
  margin-top: 16px;
  display: block;
  width: 80px;
  height: 40px;
}
